.swb_contens {
  max-width: 800px !important;
  padding: 2rem !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .24);
  color: var(--m3-sys-light-on-surface);
  border-radius: 1rem;
  position: fixed;
  z-index: 999999;
  background-color: var(--m3-sys-light-surface);
  top: calc(-100vh - 50%);
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s;
  max-height: calc(100vh - 4rem);
  overflow: hidden auto;

}

.swb_contens.loaded {
  top: 1rem;
}

.swb_contens .swb_contens_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  text-transform: uppercase;
}


.swb_contens .swb_contens_description {
  padding-bottom: 2rem;
}


.swb_contens .swb_contens_links {
  display: flex;
  flex-wrap: wrap;
}

.swb_contens .swb_contens_links a {
  flex: 0 0 50%;
  display: inline-block;
  text-align: right;
  color: var(--m3-sys-light-primary);
}

.swb_contens .swb_contens_links a:nth-child(odd) {
  text-align: left;
}

.swb_contens .swb_contens_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: space-between;
}

.swb_contens .swb_contens_buttons button {
  border: 1px solid var(--m3-sys-light-secondary);
  background-color: var(--m3-sys-light-secondary);
  color: var(--m3-sys-light-on-secondary);
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
}

.swb_contens .swb_contens_buttons button.success {
  border: 1px solid var(--m3-sys-light-tertiary);
  background-color: var(--m3-sys-light-tertiary);
  color: var(--m3-sys-light-on-tertiary);
}

.swb_contens .swb_contens_buttons button:hover {
  opacity: .8;
}

.swb_contens .swb_contens_details_title {
  font-size: 1.05em;
  font-weight: bold;
}

.swb_contens .swb_contens_details_description {
  padding-bottom: 20px;
}

.swb_contens .swb_contens_details_subtitle {
  font-weight: bold;
  padding-bottom: 5px;
}


@media screen and (max-width: 800px) {
  .swb_contens {
    left: 0;
    transform: none;
    max-width: 100%;
    position: fixed;
    max-height: 100%;
    overflow: hidden auto;
  }

  .swb_contens.loaded {
    top: 0;
  }

  .swb_contens .swb_contens_buttons a,
  .swb_contens .swb_contens_links a {
    flex: 0 0 100%;
    text-align: left;
  }

  .swb_contens .swb_contens_buttons a:nth-child(odd),
  .swb_contens .swb_contens_links a:nth-child(odd) {
    margin-bottom: 5px;
  }

  .swb_contens .swb_contens_buttons button,
  .swb_contens .swb_contens_links button {
    flex: 0 0 100%;
    margin: 0;
    padding: 12px;
  }

  .swb_contens .swb_contens_buttons button:nth-child(odd),
  .swb_contens .swb_contens_links button:nth-child(odd) {
    margin-bottom: 5px;
  }
}
