
.swb_contens_entry {
  font-size: .9em;
  display: flex;
  padding: 4px 0;
}

.swb_contens_entry:hover {
  opacity: .8;
  cursor: pointer;
}

.swb_contens_entry .icon {
  flex: 0 0 13px;
  margin-right: 8px;
}

.swb_contens_entry .icon.enable svg {
  color: var(--m3-sys-light-primary);
}

.swb_contens_entry .icon.unable svg {
  color: var(--m3-sys-light-error);
}

.swb_contens_entry .icon.disabled svg {
  color: var(--m3-sys-light-outline);
}

.swb_contens_entry .text {
  flex: 0 0 calc(100% - 20px);
}